<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.yokey.nsg">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".activity.NcApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="男士购"
        android:theme="@style/Theme.Main">

        <!-- 高德地图 配置开始 -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2ac6c1b429b9e5692ca5ddd07f16c4ba" />

        <!-- 高德地图 配置结束 -->

        <!-- QQ登陆 配置开始 -->

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101260555" />
            </intent-filter>
        </activity>

        <!-- QQ登陆 配置结束 -->

        <!-- ShareSDK 配置开始 -->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent101260555" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ShareSDK 配置结束 -->

        <!-- 友盟统计 配置开始 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5705c79c67e58e638e001596" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <!-- 友盟统计 配置结束 -->

        <!-- 支付宝支付SDK 配置开始 -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 支付宝支付SDK 配置结束 -->

        <activity
            android:name=".activity.LoadActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.HomeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CategoryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CartActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.MineActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.BrowserActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.LoginWebActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.MineCenterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CollectionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.ScanActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.GoodsDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.PhotoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.OrderActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.BuySetup1Activity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.BuySetup2Activity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.OrderDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.StoreActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.StoreListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.AddressActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.AddressAddActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.AddressMapActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.AddressEditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.OrderEvaluateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.PropertyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.PreDepositActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.RechargeCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.GoodsListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.ShareActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.ChatListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.ChatOnlyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.StoreInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CropActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.StoreVoucherActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.MineEditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.BindEmailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.BindMobileActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.MinePassActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.MinePayPassActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.FeedbackActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.VouchersActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.PointsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.NotifyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SpecialActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.OrderRefundActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.GoodsEvaluateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.RegisterPhoneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.InvoiceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.InvoiceAddActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.StoreGoodsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CartMyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleApplyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleThemeCreateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleThemeDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleCreateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleThemeReplyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.CircleThemeReplyReportActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SignActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerEditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerOrderActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerOrderDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerOrderCancelActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerOrderModifyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerOrderDeliverActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.SellerGoodsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.RedPacketActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.OrderRefundAllActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.RefundReturnActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.RefundDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.PreDepositCashActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.ReturnDetailedActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>

</manifest>